//colors:
$blue-0-0: #7cc4ff;
$blue-0-1: #6596ca;
$blue-1-0: #519dff;
$blue-1-1: #4e70cd;
$blue-2-0: #5256ff;
$blue-2-1: #3f43ae;
$blue-3-0: #0023ff;
$blue-3-1: #001d9e;
$blue-4-0: #001f9b;
$blue-4-1: #001e6d;

$grey-0-0: #ebebeb;
$grey-0-1: #cbcbcb;
$grey-1-0: #969696;
$grey-1-1: #808080;
$grey-2-0: #636363;
$grey-2-1: #343434;

$purple-0-0: #eb87e4;
$purple-0-1: #a2549b;
$purple-1-0: #eb00e8;
$purple-1-1: #9d009a;
$purple-2-0: #bf00eb;
$purple-2-1: #6f0091;
$purple-3-0: #8724eb;
$purple-3-1: #4d1b93;

$orange-0-0: #eb8000;
$orange-0-1: #9c4e00;

$red-0-0: #e10000;
$red-0-1: #b20000;


//font
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');